body{
	background-color:rgb(204,204,204)
}
h1,h2{
	text-align:center;
}
.player_one li{
	list-style-type:none;
}
.player_one{
	background-color:rgb(255,255,255);
	border: 2px solid black;
	border-radius:5px;
	padding: 9px;
    height:120px;
	width:95%
	
	
	}
a{
	text-decoration-line:none;
}
.player_two{
	background-color: rgb(255, 255, 255); 
    border:2px solid black;
	margin-inline:21px;
	border-radius:9px;
	
}
.player_two>video{
	width:96%;
	margin-inline:7px;
	padding-top:7px;
}
.player_two>audio{
	width:96%;
	margin-inline:7px;
	padding-top:7px;
}
.player_two p{
	margin-left:10px;
}


