body{
	background-color:rgb(204,204,204)
}
h1,h2{
	text-align:center;
}
.list{
	background-color:white;
	border: 1px solid black;
	border-radius:10px;
	padding: 10px;
	padding-left:0px;
	}
a{
	text-decoration-line:none;
}
li{
	list-style-type:none;
}
ul{
	text-align:left;
}
.media{
	background-color: rgb(255, 255, 255); 
	padding:10px; 
	border-radius:10px;
	border:1px solid black
}
.player_one{
	width:100%;
}
.player_two{
	width:100%
}


